
body{
    margin-top: 30px;
    font-family: sans-serif;
    background-color:rgb(251, 251, 253);
    color: rgb(28, 28, 30);
}
.header{
    margin-top: 20px;
    margin-bottom: 40px;
}
.head-links{
    /* font-size: medium; */
    color: black;
    text-decoration-color: unset;
    text-decoration-line: unset;
}
.head-links a { color: inherit; } 
a { color: inherit; text-decoration: none; } 
a:hover{
    text-decoration: none;
}
.name{
    text-align: center;
}
.head_{
    width: 100%; 
    text-align: center;
    margin-top: 60px;
}
#link{
    margin-right: 10px;
}
.card{
    margin-top: 30px;
    color: inherit;
}

.card-title{
    font-size: 14px;
}

.edu{
    min-height: 200px;
    margin-top: 20px;
    padding: 30px;
    background-color: rgb(9, 21, 43);
    color: white;
}
.edu-logo{
    height: 150px;
    width:150px;
    float: left;
    margin-right: 10px;
}

.edu-text{
    font-size: 14px;
    margin-top: 20px;
}

.contact-me{
    padding-top: 20px;
    margin-bottom: 50px;
}

.head-text{
    font-size: 26px;
    font-weight: 600;
}

.foot{
    margin-bottom: 0px;
    width: 100%;
    padding: 10px;
    height: 50px;
}
.foot #text{
    float: left;
    font-size: 12px;
}
.foot #links{
    float: right;
}
button#right{
    float: right;
}
button#left{
    float: left;
}

.card{
    width: 100%;
    height: 250px;
}
.card-title{
    font-size: 22px;
    color: rgb(53, 52, 52);
}
.badge{
    padding: 7px 10px;
    margin: 2px;
    background-color: rgb(16, 8, 40);
    color: ivory;
}

.experience{
    padding-bottom: 20px;
    width: 100;
    border-color: transparent;
    background-color: white;
    margin-top: 20px
}